.container {
  position: relative;
  height: 369px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product {
  color: black;
  text-decoration: none;
  height: 369px;
  width: 100%;
}

.image {
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.infoContainer {
  padding: 12px 16px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.originalPriceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.originalPrice {
  font-size: 12px;
  color: #bbb;
  text-decoration: line-through #aaa 2px;
}

.discount {
  font-size: 12px;
  font-weight: 700;
  color: red;
}

.price {
  font-size: 14px;
  font-weight: 700;
}

.buttonAddToCart {
  position: absolute;
  background: #E4B7A0;
  border: 0;
  padding: 4px 8px;
  border-radius: 4px;
  left: 12px;
  bottom: 12px;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  .container, .product {
    height: 299px;
  }

  .infoContainer {
    height: 108px;
  }

  .image {
    height: 150px;
  }

  .title {
    font-size: 12px;
    line-height: 18px;
  }

  .originalPrice {
    font-size: 11px;
  }

  .discount {
    font-size: 11px;
  }

  .price {
    font-size: 12px;
  }
}